$Brightorange: hsl(31, 77%, 52%);
$Darkcyan: hsl(184, 100%, 22%);
$Verydarkcyan: hsl(179, 100%, 13%);
$clr-para-text: hsla(0, 0%, 100%, 0.75);

// Very light gray (background, headings, buttons):
$verylightgray: hsl(0, 0%, 95%);

// spacing, fontzises, fontfamilies and etc;

$xlarge-sp: 4em;
$large-sp: 2.5em;
$medium-sp: 1.5em;
$small-sp: 1em;

$xlarge-fs: 3rem;
$large-fs: 2rem;
$medium-fs: 1rem;
$small-fs: 0.9375rem;

$br: 0.5em;

// - Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
// - Weights: 400

// - Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
// - Weights: 700
